<% include partials/header %>
<h1>THIS IS THE HOME PAGE!</h1>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR50rk8drFZD6xfqjN4NWsAlA62_X5mv6LIbMt5IZKUMcEgqkG8">

<% include partials/footer %>