.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

.comment-change {
    float: right;
    padding-bottom: 10px;
    padding-top: 0;
}